/*style ref:
https://www.w3schools.com/css/css_align.asp
*/

body {
    text-align: center;
    margin: 6%;
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: #1c2021;
    color: white;
}

a {
    padding: 14px 16px;
    color: darkslategrey;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    background-color: blanchedalmond;
    border: 3px solid green;
}